h1{
  font-weight:1000;
  font-size:55px;
  margin:10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}
.items-container {
  text-align: left;
}
.kg-button {
  min-width: 80px;
}
.kg-row{
  margin:5px 10px;
}


